name: Django CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9]

    steps:
    - name: Setup MariaDB
      uses: getong/mariadb-action@v1.1
      with:
       mariadb version: '10.5.15'
       mysql root password: 'a.123456'
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        cp .env.template .env
        python manage.py makemigrations
        python manage.py migrate
       
    - name: Run Tests
      run: |
        python manage.py test
